@import "style-forge.helpers";
@import "style-forge.form";
@import "style-forge.themes";
@import "style-forge.patterns";
@import "style-forge.colors/20.css";

.shields > p {
  display: flex;
  flex-flow: wrap row;
  gap: 0.5em;
}
