@import 'style-forge.helpers';
@import 'style-forge.form';
@import 'style-forge.themes';
@import 'style-forge.patterns';
@import 'style-forge.colors/20.css';

.shields > p {
  display: flex;
  flex-flow: wrap row;
  gap: 0.5em;
}

.table td { white-space: nowrap }

.s-shiki pre {
  background: none !important;
}

.VPLocalNav button {
  padding: 0;
}
.copy {
  padding: inherit;
}


.height\:2 {
  height: 500px;
}
.example {
  position: relative;

  border: 1px solid var(--vp-c-divider);

  min-height: 100px;

  padding: 1em;
}
.example > div {
  border: 1px solid var(--vp-c-divider);
  background: hsl(var(--sf-c-black-80) / .1);
  padding: 0.1em 0.3em;
}
:where(.example) > div {
  font-size: var(--vp-code-font-size);
}

.d\:f\:y > .pos\:s {
  top: 64px;
  z-index: 10;
  background: var(--vp-c-bg);

  margin: 0;
  padding: 2em 1em 0.5em;
}
.pos\:s h3 { margin: 0 }

.vp-doc table.d\:t { display: table }

:where(.d\:f, .d\:f\:x, .d\:f\:y, .d\:g, .d\:g\:x, .d\:g\:y).half > * {
  max-width: 340px;
}
